@import './variable';

#fhm-banner {
    img {
        width: 100%;
        object-fit: cover;
    }
}

main {
    margin-top: 75px;
    margin-bottom: 160px;

    .col-right {
        position: sticky;
        top: 45px;
        height: 100%;
    }
    .article-tags {
        flex-wrap: wrap;
        gap: 8px;
        .aticle-tag-item {
            padding: 4px 12px;
            border-radius: 4px;
            background: #EBF0F0;
            cursor: pointer;
            a {
                color: #353945;
                font-size: 14px;
                line-height: 1.3;
                
            }
        }
    }
    .article-main {
        h1 {
            line-height: 1;
            color: #272727;
            font-family: $font-playfair-semibold;
            font-size: 32px;
            line-height: 1.25;
            letter-spacing: 0.64px;
            text-transform: capitalize;
            margin-bottom: 24px;
        }
        p {
            color: #606060;
            font-size: 18px;
            line-height: 1.5;
            margin-bottom: 12px;
        }
        img {
            margin: 12px 0 24px;
        }
        blockquote {
            position: relative;
            color: #272727;
            font-family: $font-playfair-semibold;
            font-size: 24px;
            font-style: italic;
            line-height: 1.35;
            max-width: 85%;
            letter-spacing: 0.48px;
            text-transform: capitalize;
            padding-left: 66px;
            margin: 40px 0 24px;
            &:before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 42px;
                height: 33px;
                background: url('../assets/blockquote.svg');
            }
        }
        .block-image {
            display: flex;
            margin-top: 28px;
            gap: 32px;
            img {
                flex: 0 0 calc(50% - 16px);
                max-width: calc(50% - 16px);
            }
        }
    }
}

#fhm-article-related {
    margin-bottom: 96px;
    h3 {
        margin-bottom: 48px;
    }
    .article-item {
        .article-image {
            border-radius: 8px;
            margin-bottom: 16px;
            overflow: hidden;
            img {
                border-radius: 8px;
                transition: all 0.5s ease;
            }
            &:hover {
                img {
                    transform: scale(1.05);
                }
            }
        }
        .article-category {
            color: #C2C2C2;
            font-size: 16px;
            line-height: 1.2;
            letter-spacing: 3.2px;
            text-transform: uppercase;
            margin-bottom: 8px;
        }
        h4 {
            line-height: 1;
            letter-spacing: 0px;
            font-size: 20px;
            a {
                color: #272727;
                font-family: $font-segoe-semibold;
                font-size: 20px;
                line-height: 1.35;  
            }
        }
    }
    .swiper-button-prev {
        background: #769496;
        opacity:1;
        left: calc(50% - 643px);
    }
    .swiper-button-next {
        background: #769496;
        opacity: 1;
        right: calc(50% - 643px);
    }
    .swiper-button-disabled {
        opacity: 0.5;
    }
}

@media(max-width:1199px){
    #fhm-article-related { 
        .swiper-button-prev {
            left: calc(50% - 500px);
        }
        .swiper-button-next {
            right: calc(50% - 500px);
        }
    }
    main {
        .col-right {
            position: initial;
        }
        .article-main {
            blockquote {
                max-width: 100%;
            }
        }
    }
}
@media(max-width:991px){
    #fhm-article-related { 
        .swiper-button-prev {
            left: calc(50% - 380px);
        }
        .swiper-button-next {
            right: calc(50% - 380px);
        }
    }
}
@media(max-width:768px) {
    main {
        .article-tags {
            margin-top: 48px;
        }
        .block-image {
            flex-wrap: wrap;
        }
        .article-main {
            .block-image {
                img {
                    margin: 12px 0 0px;
                } 
            } 
            p {
                font-size: 14px;
            }
            blockquote {
                max-width: 100%;
                font-size: 18px;
                padding-left: 30px;
                &:before {
                    aspect-ratio: 42/33;
                    width: 25px;
                    height: auto;
                    background-size: cover;
                }
            }
        }
    }
    #fhm-article-related { 
        .swiper-button-prev, .swiper-button-next {
            display: none;
        }
    }
}