@import "./variable";

/*Banner*/
#fhm-collections-banner {
  .banner-image {
    aspect-ratio: 1600/450;
    img {
      object-fit: cover;
      height: 100%;
    }
  }
  .banner-title {
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    h1 {
      font-family: $font-playfair-semibold;
      margin: 5px 0 0 5px;
      font-size: 64px;
      line-height: 1.25;
      text-transform: capitalize;
      color: #527274;
    }
  }
}

// START PRODUCTS
#fhm-list-product-products {
  margin-top: 60px;

  position: relative;
  z-index: 1;

  .heading {
    font-size: 30px;
    line-height: 52px;
  }

  .quantity {
    color: #818181;
    font-size: 14px;
    line-height: 20px;
    font-family: $font-segoe-regular;
    margin-left: 2px;
  }
  .products-filter-toggle-button {
    font-size: 14px;
    padding: 10px 0;
    display: none;
    margin-bottom: 10px;
  }

  .products-filter-list {
    padding-right: 17px;
    transform: translate(0);
    margin-top: 65px;

    .products-filter-item {
      margin-bottom: 40px;
    }

    .products-filter-toggle-button-close {
      display: none;
    }

    .products-filter-item {
      .products-filter-item-heading {
        margin-bottom: 20px;
        h2 {
          margin-bottom: 0;
        }

        .heading {
          font-size: 18px;
          color: #272727;
          font-family: $font-segoe-semibold;
          line-height: normal;
          letter-spacing: 0px;
        }

        .icon {
          width: 24px;
          height: 24px;
          .line {
            transition: all 0.5s ease;
            position: absolute;
            top: 50%;
            right: 0;
            transform: translateY(-50%) rotate(0deg);
            display: flex;
          }
        }

        &[aria-expanded="true"] {
          .icon {
            .line:last-child {
              transform: translateY(-50%) rotate(90deg);
            }
          }
        }
      }

      .products-filter-item-criteria[data-type="checkbox"] {
        max-height: 245px;
        height: fit-content;
        overflow-y: scroll;

        /* width */
        &::-webkit-scrollbar {
          width: 7px;
        }

        /* Track */
        &::-webkit-scrollbar-track {
          background: #ebf0f0;
          border-radius: 100px;
        }

        /* Handle */
        &::-webkit-scrollbar-thumb {
          background: #8ea7a9;
          border-radius: 100px;
        }

        /* Handle on hover */
        &::-webkit-scrollbar-thumb:hover {
          background: #527274;
        }

        li {
          display: flex;
          align-items: center;
          gap: 8px;
          cursor: pointer;
          margin-bottom: 16px;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            color: #818181;
            font-family: $font-segoe-semibold;
            font-size: 16px;
            line-height: 20px;
          }
          .checkbox {
            width: 19px;
            height: 19px;

            border: 1px solid #dedede;
            border-radius: 3px;

            transition: all ease 0.75s;

            position: relative;

            overflow: hidden;

            &[data-status="check"] {
              &::after {
                content: url("../assets/checked.svg");
                position: absolute;
                top: 0;
                left: 0;
                padding-left: 1px;
                display: flex;
                justify-content: center;
                width: 100%;
                height: 100%;
                background-color: #527274;
                line-height: 100%;
              }
            }
          }
        }

        .text {
          .icon {
            display: inline-block;

            svg {
              margin-bottom: 4px;
              margin-right: 10px;
            }
          }

          .text {
            font-size: 14px;
            line-height: 20px;

            color: #686868;
          }
        }
      }

      .products-filter-item-criteria[data-type="checkbox-color"] {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        column-gap: 12px;
        row-gap: 14px;
        .checkbox-color {
          max-width: 38px;
          aspect-ratio: 38 / 24;
          width: 100%;
          height: auto;

          border-radius: 3px;
          border: 1px solid transparent;

          cursor: pointer;

          &[data-color="FFFFFF"] {
            border-color: #ededed;
          }
        }
      }
      #filter-brand {
        .products-filter-item-criteria[data-type="checkbox"] {
          max-height: 460px;
        }
      }
      .products-filter-item-search {
        input {
          border-radius: 4px;
          border: 1px solid #c2c2c2;
          outline: none;
          padding: 10px 18px;
          margin: 4px 0 24px;
          font-size: 14px;
          width: 100%;
          &::placeholder {
            color: #979797;
          }
        }
      }

      &-dropdown {
        &-item {
          display: flex;
          gap: 17px;
          align-items: center;

          .text {
            font-size: 12px;
          }

          select {
            border-radius: 3px;
            border: 1px solid #000;
            outline: none;

            padding: 10px 12px 7px;

            width: 100%;

            &:focus {
              border: 1px solid #000;
            }
          }
        }
      }

      .products-filter-item-radio {
        .products-filter-item-radio-item {
          display: block;
          position: relative;
          padding-left: 27px;
          margin-bottom: 12px;
          font-size: 16px;
          font-family: $font-segoe-semibold;
          line-height: 20px;
          color: #818181;
          cursor: pointer;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;

          .stock-quantity {
            color: #979797;
            font-family: $font-segoe-regular;
            font-size: 14px;
          }

          input {
            position: absolute;
            opacity: 0;
            cursor: pointer;

            &:checked ~ .checkmark::after {
              display: block;
            }
          }

          .checkmark {
            position: absolute;
            top: 0;
            left: 0;
            height: 19px;
            width: 19px;
            border-radius: 300px;
            border: 1px solid #979797;

            &::after {
              content: "";
              display: none;
              position: absolute;
              top: 50%;
              left: 50%;
              transform: translate(-50%, -50%);
              width: 12px;
              height: 12px;
              border-radius: 300px;
              background: #000;
            }
          }

          &:hover {
            input ~ .checkmark {
              &::after {
                background: #000;
              }
            }
          }
        }
      }

      .clear-button {
        display: flex;
        align-items: end;
        justify-content: flex-end;
        gap: 4px;
        margin-top: 20px;
        cursor: pointer;
        .text {
          color: #606060;
          font-family: $font-segoe-semibold;
          font-size: 12px;
        }
        .icon {
          width: 16px;
          svg {
            width: 100%;
          }
        }
      }

      &-range-slider-wrapper {
        .products-filter-item-range-slider {
          background-color: #f2f2f2;

          .range-slider__thumb {
            width: 6.5px;
            height: 21px;

            border: 2px solid #8ea7a9;
            background-color: #8ea7a9;
          }

          .range-slider__range {
            background-color: #8ea7a9;
          }
        }
        .products-filter-item-range-slider-input {
          margin-top: 24px;
          display: flex;
          justify-content: space-between;
          align-items: center;

          .min,
          .max {
            max-width: 90px;
            width: 100%;
            height: 39px;
            padding: 0 10px;
            outline: none;
            border-radius: 3px;
            color: #979797;
            border: 1px solid #c2c2c2;
            text-align: center;

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
              -webkit-appearance: none;
              margin: 0;
            }
          }

          .line {
            width: 8px;
            height: 1px;

            background-color: #686868;
          }
        }
      }
    }
  }

  .products-list {
    .products-list-sort {
      margin: 0px 0 24px;

      .products-list-sort-view {
        gap: 30px;
        .products-list-sort-view-status {
          gap: 12px;
          .text {
            color: #272727;
            font-family: $font-segoe-semibold;
            font-size: 16px;
            white-space: nowrap;
          }

          select {
            border-radius: 4px;
            border: 2px solid #e1e1e1;
            outline: none;
            padding: 10px 18px 10px 18px;
            min-width: 203px;
            width: 100%;
            font-size: 14px;
            color: #979797;
            appearance: none;
            background: url("../assets/arrow-down.svg") no-repeat;
            background-size: contain;
            background-position: center right;
          }
        }
        &-mode {
          gap: 11px;

          .text {
            white-space: nowrap;
            font-size: 14px;
          }

          .mode-list {
            gap: 9px;

            .mode-item {
              width: 24px;
              height: 24px;
              border-radius: 3px;
              transition: all ease 0.5s;
              cursor: pointer;

              &.active {
                background: #769496;

                rect {
                  fill: #fff;
                  transition: all ease 0.5s;
                }
              }

              svg {
                width: 24px;
              }
            }
          }
        }
      }
    }

    .products-list-sort-item {
      margin: 0 auto 66px;
      max-width: 275px;
    }

    .products-list-grids {
      display: grid;
      column-gap: 32px;
      grid-template-columns: repeat(3, 1fr);
      row-gap: 0;
    }

    .products-list-pagination {
      margin-top: 4px;
      padding-top: 40px;
      flex-wrap: wrap;
      .pagination-prev,
      .pagination-next {
        font-size: 14px;
        color: #272727;
        text-transform: uppercase;
        font-family: $font-segoe-bold;
        cursor: pointer;
        &:hover {
          color: #527274;
          opacity: 1;
        }
      }
      .pagination-prev {
        color: #272727;
        opacity: 0.45;
      }
      .products-list-pagination-page {
        gap: 16px;
        label {
          color: #606060;
          font-family: $font-segoe-light;
          font-size: 16px;
          line-height: 1.6;
        }
        #collections-pagination {
          appearance: none;
          border: none;
          text-align: center;
          width: 50px;
          padding: 0 15px 0 0;
          border-radius: 4px;
          background: url("../assets/arrow-down-2.svg") no-repeat;
          background-position: center right;
        }
        .pagination-select-arrow {
          top: -1px;
          right: 5px;
        }
        .pagination-total {
          color: #606060;
          font-family: $font-segoe-light;
          font-size: 16px;
          line-height: 1.6;
        }
      }
    }
    .collections-des-guide {
      margin-top: 48px;
      margin-bottom: 120px;
      border: 1px solid #d9d9d9;
      border-radius: 12px;
      padding: 32px;
      .heading {
        color: #272727;
        font-family: $font-segoe-semibold;
        font-size: 24px;
        margin-bottom: 16px;
      }
      .collections-content {
        max-height: 145px;
        overflow: hidden;
        transition: all 0.5s ease;
      }
      .collections-des-viewmore {
        margin-top: 16px;
        z-index: 2;
        .button {
          padding: 14px 32px;
          border: 2px solid #769496;
          background: transparent;
          color: #769496;
          font-family: $font-segoe-bold;
          font-size: 16px;
          line-height: 1.3;
          text-transform: capitalize;
          &:hover {
            background: #769496;
            color: #fff;
          }
        }
      }
    }
    .collections-des-guide-show {
      &:before {
        content: "";
        position: absolute;
        bottom: 32px;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 130px;
        background: linear-gradient(
          180deg,
          rgba(255, 255, 255, 0) 0%,
          #fff 50%
        );
      }
    }
    .paragraph {
      color: #818181;
      font-size: 16px;
      margin-bottom: 20px;
      line-height: 1.4;
    }
  }
}
// END PRODUCTS

.product-item {
  margin-bottom: 48px;
}

// START RESPONSIVE
@media only screen and (max-width: 1366px) {
}

@media only screen and (max-width: 1199px) {
  // START PRODUCT
  #fhm-list-product-products {
    .products-list {
      padding-right: 15px;
    }
    .products-list-pagination {
      row-gap: 20px;
    }
    .products-filter-list {
      padding-right: 0;
      .products-filter-item {
        &-criteria[data-type="checkbox-color"] {
          column-gap: 6px;
          row-gap: 10px;
        }
        .products-filter-item-criteria {
          &[data-type="checkbox-color"] {
            grid-template-columns: repeat(3, 1fr);
            .checkbox-color {
              max-width: 50px;
            }
          }
        }
      }
    }
  }
  // END PRODUCT
}

@media (max-width: 991px) {
  #fhm-collections-banner {
    .banner-title h1 {
      font-size: 32px;
    }
  }
  // START PRODUCT
  #fhm-list-product-products {
    margin-top: 30px;
    .heading,
    .products-list {
      padding: 0;
      font-size: 24px;
      line-height: 32px;

      .products-list-guide {
        .heading {
          padding-left: 0;
        }
      }

      .row {
        margin-right: -8px;
        margin-left: -8px;
        & > * {
          padding-right: 8px;
          padding-left: 8px;
        }
      }
    }

    .products-list  {
      .products-list-grids {
        column-gap: 24px;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .products-filter-list {
      .products-filter-item {
        .heading {
          padding: 0;
        }
      }
    }

    .products-list-sort {
      flex-wrap: wrap;
    }
  }
  // END PRODUCT
}

@media (max-width: 767px) {
  // START PRODUCT
  #fhm-list-product-products {
    .products-filter-toggle-button {
      display: block;
    }
    .products-filter-list {
      padding-right: 0;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 8;
      width: 100%;
      height: 100%;
      padding: 80px 10.5px 0;
      background-color: #fff;
      overflow-y: scroll;
      transform: translateX(-100%);
      transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;
      margin-top: 0;

      &.active {
        transform: translateX(0%);
      }

      .products-filter-item {
        .products-filter-item-criteria[data-type="checkbox-color"] {
          column-gap: 15px;
          row-gap: 15px;
          .checkbox-color {
            width: 100%;
            max-width: none;
          }
        }
      }

      .products-filter-toggle-button-close {
        display: block;
        position: absolute;
        top: 10px;
        right: 10.5px;
        padding: 10px 15px;
        border-radius: 3px;
      }

      .products-filter-item {
        margin-left: auto;
        margin-right: auto;
      }
    }
    .products-list-guide {
      margin-bottom: 140px;
    }
  }
  // END PRODUCT
}

@media (max-width: 576px) {
  // START PRODUCT
  #fhm-list-product-products {
    .products-list {
      .products-list-sort {
        row-gap: 20px;
        .products-list-sort-view {
          gap: unset;
          justify-content: space-between;
          width: 100%;
        }
        .products-list-sort-view {
          .products-list-sort-view-status {
            select {
              padding: 0 10px;
            }
          }
        }
      }

      .products-list-pagination {
        row-gap: 20px;
        .products-list-pagination-page {
          justify-content: space-between;
          gap: unset;
          width: 100%;
          #collections-pagination {
            width: 90px;
          }
        }
      }
    }
  }
  // END PRODUCT
}

@media(max-width:480px){
  #fhm-list-product-products {
    .products-list {
      .products-list-grids {
        column-gap: 16px;
      }
    }
  }
}

@media (max-width: 314px) {
  #fhm-collections-banner {
    .banner-title {
      h1 {
        font-size: 24px;
      }
    }
  }
  #fhm-list-product-products {
    .products-list {
      .products-list-grids {
        grid-template-columns: 1fr;
      }
      
      .products-list-sort {
        .products-list-sort-view {
          .products-list-sort-view-status {
            .text {
              display: none;
            }
            .seclect-sort-view {
              select {
                padding: 5px 10px;
                min-width: 165px;
              }
            }
          }
        }
      }
    }
  }
}
