// START ABOUT US PAGE

// START BANNER
#fhm-about-banner {
  background: linear-gradient(
      180deg,
      #000 0%,
      rgba(0, 0, 0, 0.67) 0.01%,
      rgba(0, 0, 0, 0.12) 40.63%,
      rgba(0, 0, 0, 0.12) 68.75%,
      rgba(0, 0, 0, 0.76) 100%
    ),
    url(../images/banners/about-us-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 269px 0 267px;
  @include tablet {
    padding: 200px 0;
  }
  @include landscape-phone {
    padding: 150px 0;
  }
  .banner-title {
    margin-bottom: 15px;
  }
}
// END BANNER

// START ABOUT
#fhm-about {
  margin-top: 120px;
  @include tablet {
    margin-top: 80px;
  }
  .about-wrapper {
    @include flex(row, space-between, center, unset, nowrap);
    @include tablet {
      flex-direction: column-reverse;
    }
    .about-image {
      max-width: 584px;
      width: 100%;
      position: relative;
      left: -12%;
      @include extra-desktop {
        left: -6%;
        max-width: 450px;
      }
      @include large-desktop {
        left: -4%;
      }
      @include desktop {
        margin-top: 50px;
        left: 0;
      }
      > img {
        width: 100%;
        animation: spin linear 50s infinite;
        filter: drop-shadow(0 0 30px rgba(0, 0, 0, 0.18));
      }
      .decor-element {
        width: 100%;
        @include desktop {
          display: none;
        }
        &:nth-child(1) {
          max-width: 145px;
          top: 0px;
          left: 20px;
          animation: updown3 ease-in-out 5s infinite alternate;
        }
        &:nth-child(2) {
          max-width: 115px;
          top: 40%;
          left: -120px;
          animation: updown3 ease-in-out 3s infinite alternate;
        }
        &:nth-child(3) {
          max-width: 100px;
          bottom: 0;
          left: -25px;
          animation: updown3 ease-in-out 2s infinite alternate;
        }
        &:nth-child(4) {
          max-width: 120px;
          top: 20px;
          right: -50px;
          animation: updown3 ease-in-out 6s infinite alternate;
        }
        &:nth-child(5) {
          max-width: 180px;
          top: 35%;
          right: -120px;
          animation: updown3 ease-in-out 7s infinite alternate;
        }
        &:nth-child(6) {
          max-width: 114px;
          bottom: -50px;
          right: -20px;
          animation: updown3 ease-in-out 5s infinite alternate;
        }
      }
    }
    .about-content {
      max-width: 568px;
      @include desktop {
        padding-left: 50px;
      }
      @include tablet {
        padding-left: 0;
      }
      .heading-block-l {
        .list {
          .item {
            margin-bottom: 30px;
            .icon {
              min-width: 47px;
              svg {
                width: 100%;
              }
            }
          }
        }
      }
    }
  }
}
// END ABOUT

// START STATISTIC
#fhm-about-statistic {
  margin-top: 166px;
  @include large-desktop {
    margin-top: 100px;
  }
  @include mobile {
    margin-top: 80px;
  }
}
// END STATISTIC

// START MISSION
#fhm-about-mission {
  background-image: url(../images/banners/mission-bg.jpg);
}
// END MISSION

// START VISION
#fhm-about-vision {
  margin: 84px 0 200px;
  @include tablet {
    margin-bottom: 100px;
  }
  @include landscape-phone {
    margin-bottom: 80px;
  }
  .vision-wrapper {
    @include flex(row, space-between, unset, 30px, nowrap);
    @include tablet {
      flex-direction: column;
      align-items: center;
    }
    .vision-image {
      max-width: 520px;
      width: 100%;
      position: relative;
      @include tablet {
        max-width: 100%;
      }

      > img {
        width: 100%;
        border-radius: $border-radius-m;
      }
      .decor-element {
        max-width: 452px;
        width: 100%;
        bottom: -156px;
        left: 0;
        @include tablet {
          display: none;
        }
      }
    }
    .vision-content {
      margin-top: 60px;
      max-width: 520px;
      width: 100%;
      @include desktop {
        margin-top: 0;
      }
      @include tablet {
        max-width: 100%;
      }
    }
  }
}
// END VISION

// START BREAK
#fhm-about-break {
  background: url(../images/banners/enjoy-bg.jpg) left no-repeat;
  background-size: cover;
  height: 741px;
  padding-top: 130px;
  position: relative;
  @include extra-desktop {
    background-size: contain;
  }
  @include desktop {
    background-size: cover;
    background-position: center;
  }
  @include landscape-phone {
    height: 600px;
    padding-top: 80px;
  }
  @include mobile {
    height: 400px;
  }
  .decor-element {
    max-width: 1000px;
    width: 100%;
    top: 50%;
    right: -300px;
    transform: translateY(-50%);
    @include desktop {
      display: none;
    }
  }
  .break-title {
    color: $white;
    font-family: $font-family-2;
    font-size: 56px;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.02em;
    @include desktop {
      text-align: center;
    }
    @include landscape-phone {
      font-size: 42px;
    }
    @include mobile {
      font-size: 30px;
    }
    br {
      @include desktop {
        display: none;
      }
    }
  }
}
// END BREAK

// START TEAM
#fhm-about-team {
  margin: 100px 0;
  .heading-block-m {
    .desc {
      max-width: 634px;
    }
  }
  .team-slider {
    margin-top: 80px;
    position: relative;
    .swiper {
      overflow: visible;
    }
    .team-item {
      box-shadow: 0 0 30px rgba($color: #000000, $alpha: 0.07);
      background-color: $white;
      border-radius: $border-radius-m;
      overflow: hidden;
      &-image {
        width: 100%;
        img {
          width: 100%;
        }
      }
      &-content {
        padding: 22px;
        .name {
          font-size: 22px;
          line-height: 40px;
          font-weight: $fw-semiBold;
          text-align: center;
          text-transform: capitalize;
        }
        .position {
          font-size: 14px;
          line-height: 28px;
          text-align: center;
          text-transform: capitalize;
        }
      }
    }
    .slider-button-next,
    .slider-button-prev {
      top: 50%;
      transform: translateY(-50%);
    }

    .slider-button-next {
      right: -80px;
    }
    .slider-button-prev {
      left: -80px;
    }
  }
}
// END TEAM

// START MEMORABLE
#fhm-about-memorable {
  padding: 80px 0;
  background: url(../images/banners/mission-bg.jpg) no-repeat center;
  background-size: cover;
  .heading-block-m {
    align-items: start;
    * {
      text-align: left;
    }
  }
  .memorable-wrapper {
    margin-top: 100px;
    .memorable-years {
      position: relative;
      .swiper {
        overflow-y: visible;
        .swiper-slide {
          justify-content: center;
          display: flex;
          &-thumb-active {
            .year {
              transform: scale(1.9);
              background-color: $red;
              border: 3px solid $red-2;
              .number {
                color: $white;
              }
            }
          }
        }
      }
      &::after {
        content: "";
        @include absolute(50%, 50%, 0);
        transform: translate(-50%, -50%);
        width: 80%;
        height: 2px;
        background-color: $gray-4;
        @include mobile {
          display: none;
        }
      }
      .year {
        width: 120px;
        aspect-ratio: 1;
        border-radius: $border-radius-xxl;
        background-color: $white;
        @include flex(row, center, center, unset, unset);
        cursor: pointer;
        position: relative;
        z-index: 1;
        transition: all cubic-bezier(0.77, 0, 0.175, 1) 0.75s;

        .number {
          font-size: 24px;
          line-height: 50px;
          font-weight: $fw-medium;
          transition: all ease 0.5s;
        }
      }
    }
    .memorable-slider {
      margin-top: 125px;
      position: relative;
      .memorable-content {
        @include flex(row, space-between, center, 58px, unset);
        padding: 0 90px;
        @include desktop {
          gap: 30px;
          padding: 0;
        }
        @include landscape-phone {
          flex-wrap: wrap;
        }
        @include mobile {
          flex-direction: column;
        }

        &-item {
          @include landscape-phone {
            flex: 0 0 45%;
          }
          @include mobile {
            flex: 1;
            padding: 0 15px;
          }

          .date {
            font-size: 20px;
            line-height: 30px;
            font-weight: $fw-bold;
            margin-bottom: 4px;
          }
          .text {
            font-size: 14px;
            line-height: 24px;
            font-weight: $fw-medium;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            text-overflow: ellipsis;
            -webkit-line-clamp: 3;
            overflow: hidden;
            height: 72px;
            max-width: 200px;
            @include mobile {
              max-width: 100%;
            }
          }
        }
      }
      .slider-button-prev,
      .slider-button-next {
        top: 50%;
        transform: translateY(-50%);
      }
      .slider-button-next {
        right: 0;
      }
      .slider-button-prev {
        left: 0;
      }
    }
  }
}
// END MEMORABLE

// START VALUES
#fhm-about-values {
  margin-top: 100px;
  position: relative;
  .heading-block-m {
    align-items: start;
    @include desktop {
      align-items: center;
    }
  }
  .values-slider {
    margin-top: 140px;
    padding: 0 90px;
    position: relative;
    @include desktop {
      padding: 0;
    }
    .swiper {
      overflow-y: visible;
      .swiper-slide {
        &-active {
          .values-item {
            background-color: $beige;
            padding-left: 0;
            .values-icon {
              transform: scale(1);
              transition-delay: 0.5s;
            }
          }
        }
      }
    }
  }
  .values-item {
    position: relative;
    min-height: 410px;
    border-radius: $border-radius-m;
    @include flex(row, center, center, unset, unset);
    padding-left: 46px;
    transition: background-color ease 0.75s, padding-left ease 0.5s;
    @include desktop {
      padding-left: 0;
    }
    .values-icon {
      max-width: 140px;
      width: 100%;
      aspect-ratio: 1;
      border-radius: $border-radius-xxl;
      background-color: $red;
      @include flex(row, center, center, unset, unset);
      @include absolute(-70px, 47px, 1);
      transform: scale(0);
      transition: all cubic-bezier(0.77, 0, 0.175, 1) 1s;

      svg {
        max-width: 40%;
        width: 100%;
      }
    }
    .values-content {
      width: 80%;
      .number {
        font-size: 24px;
        font-weight: $fw-bold;
        line-height: 30px;
        display: inline-block;
        margin-bottom: 8px;
      }
      .title {
        font-size: 24px;
        line-height: 30px;
        font-weight: $fw-bold;
        font-family: $font-family-3;
        margin-bottom: 16px;
      }
      .desc {
        font-size: 14px;
        line-height: 24px;
        display: -webkit-box;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
        height: 96px;
      }
    }
  }
  .slider-button-prev,
  .slider-button-next {
    top: 50%;
    transform: translateY(-50%);
    @include extra-desktop {
      display: flex;
    }
    @include desktop {
      display: none;
    }
  }
  .slider-button-next {
    right: 0;
  }
  .slider-button-prev {
    left: 0;
  }
  .decor-element {
    max-width: 385px;
    width: 100%;
    top: -180px;
    right: -100px;
    @include desktop {
      display: none;
    }
  }
}
// END VALUES

// START MAPS
#fhm-about-maps {
  background: url(../images/banners/map-bg.jpg) center no-repeat;
  background-size: cover;
  padding: 70px 0;
  margin-top: 100px;
  .maps-image {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
// END MAPS

// START CLIENTS
#fhm-about-clients {
  margin-top: 100px;
  position: relative;
  .clients-wrapper {
    margin-top: 100px;
    @include landscape-phone {
      margin-top: 50px;
    }
  }
  .decor-element {
    max-width: 294px;
    width: 100%;
    top: -200px;
    left: 0;
    @include landscape-phone {
      display: none;
    }
  }
}
// END CLIENTS
// END ABOUT US PAGE
